<app-card *ngIf="transaction">
  <app-back-link link="/">Back to Transactions</app-back-link>
  <header>
    <h2 id="transaction-detail-header">Transaction Detail</h2>
  </header>
  <dl aria-labelledby="transaction-detail-header">
    <dt>ID:</dt>
    <dd>{{ transaction.id }}</dd>

    <dt>Date:</dt>
    <dd>{{ transaction.timestamp | date }}</dd>

    <dt>Amount:</dt>
    <dd>{{ transaction.amount | currency : transaction.currencyCode }}</dd>

    <dt *ngIf="transaction.currencyCode !== 'EUR'">Amount In Euro:</dt>
    <dd *ngIf="transaction.currencyCode !== 'EUR'">
      {{
        transaction.amount
          | convertInEur : transaction.currencyRate
          | currency : 'EUR'
      }}
    </dd>

    <dt>Description:</dt>
    <dd>{{ transaction.description }}</dd>
  </dl>

  <section *ngIf="transaction.otherParty">
    <header>
      <h3 id="other-party-header">Other Party</h3>
    </header>
    <dl aria-labelledby="other-party-header">
      <dt>Name:</dt>
      <dd>{{ transaction.otherParty.name }}</dd>

      <dt>IBAN:</dt>
      <dd>{{ transaction.otherParty.iban }}</dd>
    </dl>
  </section>
</app-card>

<app-card *ngIf="!transaction">
  <app-back-link link="/">Back to Transactions</app-back-link>
  <header>
    <h2 id="transaction-not-found-header">Transaction Not Found</h2>
  </header>
  <p aria-labelledby="transaction-not-found-header">
    The requested transaction could not be found. Please check the transaction
    ID and try again.
  </p>
</app-card>
